@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.mainContainer {
  padding: 80px 20px; 
}

.submainContainer {
  max-width: 1250px;
  margin: 0 auto; 
  padding: 0 20px; 
}

.headerContainer {
  text-align: center; 
  padding: 20px 0; 
}

.headerText {
  justify-content: center;
  font-size: 2rem;
  font-family: "Poppins"; 
}

.headerSmolText {
  font-size: 1rem;
  font-family: "Poppins"
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
  width: 100%;
  max-width: 1250px; 
  margin: 0 auto; 
  padding: 40px 20px; 
}

.imageContainer {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  height: 100%; 
}

.hotelContainer {
  max-width: 1250px;
  margin: 0 auto; 
}

.subhotelContainer {
  text-align: center; 
  padding: 0 20px; 
}

.image {
  width: 100%;
  height: auto; 
}

.bottomPart {
  padding-top: 160px; 
}

.propertiesContainer {
  max-width: 1250px;
  height: 144px; 
}

.propertiesHeader {
  text-align: center; 
}

.propertiesContent {
  padding: 20px 0; 
}

.whyChooseUsContent {
  padding: 0  20px;
  font-family: "Poppins"
}

@media (max-width: 768px) {
  .submainContainer {
    padding: 0 10px; 
  }

  .headerContainer {
    padding: 20px; 
  }

  .imageGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
  }

  .navB {
    max-width: 100%; 
  }

  .propertiesContainer {
    padding-top: 80px;
  }
}

@media (max-width: 480px) {
  .headerText {
    font-size: 1.5rem; 
  }

  .headerSmolText {
    font-size: 0.8rem;
    font-family: "Poppins";
  }

  .imageGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr)); 
  }
}

.navB {
  width: 100%; 
  max-width: 1250px; 
  margin: 0 auto; 
}

@media (max-width: 1250px) {
  .navB {
    padding: 0 20px; 
  }
}

.navbar {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px; 
}

@media (max-width: 768px) {
  .navbar {
    max-width: 100%;
  }
}

.navbar-svg {
  width: 100%; 
  max-width: 1250px; 
  height: auto; 
  margin: 0 auto; 
  display: block; 
}

@media (max-width: 768px) {
  .navbar-svg {
    max-width: 100%; 
  }
}
.imageGridH {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); 
  gap: 20px; 
  padding-top: 40px; 
  justify-items: center; 
}
.gridContent{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
  gap: 15px; 
  font-family: "Poppins";
  max-width: 300px; 
  margin: 0 auto; 
}